<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un étudiant</title>
</head>

<body>

<h1>Ajouter un étudiant</h1>

<form th:action="@{/saveStudent}" method="post"
      th:object="${student}">

    <label>Nom :</label>

    <input type="text"
           th:field="*{name}">

    <br><br>

    <label>Email :</label>

    <input type="email"
           th:field="*{email}">

    <br><br>

    <label>Ville :</label>

    <input type="text"
           th:field="*{city}">

    <br><br>

    <label>Moyenne :</label>

    <input type="number"
           th:field="*{average}">

    <br><br>

    <button type="submit">
        Enregistrer
    </button>

</form>

<br>

<a href="/students">
    Retour à la liste
</a>

</body>
</html>